h1 {
    color: darkgreen;
}

h2 {
    background-color: aqua;
    color: crimson;
    margin: 1px;
}

p {
    color: #000099;

}

.animated {
    transition-property: hidden;
    transition-duration: 3s;
}

#color {
    transition-property: background-color;
    transition-duration: 5s;
}





